.btn-pesan {
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.btn {
  background-color: #28c76f;
  border-radius: 50px;
  border: none;
}

.follow {
  background-color: #ccc;
  color: #000;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

.jumbotron {
  background-image: url(https://belajarkoding.com/images/overlay.svg), linear-gradient(45deg, #007bff, #006fe6);
  background-size: cover;
  height: 480px;
  color: #fff;
}

.jumbotron h1 {
  padding-top: 180px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.first-action {
  padding-top: 100px;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.first-action h3 {
  font-weight: bolder;
  font-size: 25px;
}

.jumbotron-article {
  background-image: url(https://belajarkoding.com/images/overlay.svg), linear-gradient(45deg, #007bff, #006fe6);
  background-size: cover;
  height: 380px;
  color: #fff;
}

.jumbotron-article h1 {
  padding-top: 120px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 62px;
}

.wave {
  margin-top: 80px;
}

svg.wave {
  position: relative;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  vertical-align: middle;
}

.a {
  fill: none;
}

.b {
  -webkit-clip-path: url(#a);
          clip-path: url(#a);
}

.c,
.d {
  fill: #f9f9fc;
}

.d {
  opacity: 0.5;
  isolation: isolate;
}

.wafe-article {
  margin-top: 100px;
}

svg.wafe-article {
  position: relative;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  vertical-align: middle;
}

.a {
  fill: none;
}

.b {
  -webkit-clip-path: url(#a);
          clip-path: url(#a);
}

.c,
.d {
  fill: #f9f9fc;
}

.d {
  opacity: 0.5;
  isolation: isolate;
}

.eradigital {
  margin-top: 120px;
}

.eradigital h3 {
  font-size: 35px;
  font-weight: 700;
  color: #252525;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eradigital p {
  color: grey;
  font-size: 18px;
}

.adaptable {
  margin-top: 40px;
}

.adaptable h3 {
  font-size: 35px;
  font-weight: 700;
  color: #252525;
  margin-top: 14px;
  margin-bottom: 20px;
}

.adaptable p {
  color: grey;
}

.myskill {
  min-height: 400px;
  padding-top: 60px;
}

.myskill h4 {
  font-size: 12px;
}

.myskill h2 {
  font-size: 35px;
  font-weight: 700;
  color: #252525;
}

.myskill p {
  font-size: 12px;
}

.myskill img {
  width: 125px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.myskill .item-skill {
  margin-bottom: 17px;
  text-align: center;
}

.call-to-action {
  min-height: 250px;
  background-image: url(https://belajarkoding.com/images/overlay.svg), linear-gradient(45deg, #007bff, #006fe6);
  background-size: cover;
  color: #fff;
}

.call-to-action h2 {
  padding-top: 50px;
}

.favorite-video {
  padding-top: 50px;
  padding-bottom: 50px;
}

.favorite-video h2 {
  font-size: 32px;
}

.favorite-video h4 {
  color: #252525;
}

.favorite-video p {
  color: grey;
}

footer {
  padding-top: 60px;
  background-color: #292929;
}

footer hr {
  color: white;
}

footer h4 {
  color: grey;
}

footer p {
  color: #6b6b6b;
}

.item-footer ul li a,
p a {
  text-decoration: none;
  color: #6b6b6b;
}

.article {
  margin-top: -90px;
}

.article a {
  text-decoration: none;
  color: rgba(34, 41, 47, 0.5);
}

.article h5 {
  font-size: 25px;
  color: #313131;
}

.article-hover {
  -webkit-transition: -webkit-transform 0.2;
  transition: -webkit-transform 0.2;
  transition: transform 0.2;
  transition: transform 0.2, -webkit-transform 0.2;
}

.article-hover:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 1;
}

.aboutme {
  padding-top: 90px;
}

.aboutme img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.aboutme p {
  font-size: 18px;
  margin-top: 10px;
  color: grey;
}

.card-body a i {
  size: 100px;
}

.content-article h2 {
  font-size: 25px;
  color: #313131;
  font-weight: 700;
}

.content-article img {
  margin-top: 30px;
}

.content-article p {
  font-size: 18px;
  color: #717171;
  margin-top: 40px;
}

.sumber {
  font-weight: 700;
}

.socialmedia {
  width: 70px;
  height: 70px;
  color: grey;
  padding-right: 15px;
}

.socialmedia :hover {
  color: #0069da;
}

@media (min-width: 1399px) {
  .first-action {
    padding-top: 165px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-left: 140px;
  }
  .first-action h3 {
    font-weight: bolder;
    font-size: 40px !important;
  }
}

@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: #fff !important;
  }
  .jumbotron {
    margin-top: -75px;
    height: 570px;
  }
  .jumbotron h1 {
    padding-top: 170px;
    font-size: 53px;
  }
  .first-action {
    padding-top: 165px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-left: 140px;
  }
  .first-action h3 {
    font-weight: bolder;
    font-size: 30px;
  }
  .jumbotron-article {
    margin-top: -75px;
    height: 300px;
  }
  .jumbotron-article h1 {
    padding-top: 100px;
    font-size: 53px;
  }
  .wafe-article {
    margin-top: 50px;
  }
  .wave {
    margin-top: 90px;
  }
  .myskill {
    min-height: 500px;
    padding-top: 70px;
  }
  .myskill h4 {
    font-size: 20px;
  }
  .myskill img {
    width: 150px;
    margin-bottom: 10px;
  }
  .myskill .item-skill {
    margin-bottom: 5px;
  }
  .myskill p {
    color: grey;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .adaptable {
    margin-top: 40px;
  }
  .adaptable h3 {
    font-size: 35px;
    font-weight: 700;
    color: #252525;
    margin-top: 150px;
    margin-bottom: 20px;
  }
  .adaptable p {
    color: grey;
  }
  .eradigital {
    margin-top: 120px;
  }
  .eradigital h3 {
    font-size: 35px;
    font-weight: 700;
    color: #252525;
    margin-top: 140px;
    margin-bottom: 20px;
  }
  .eradigital p {
    color: grey;
    font-size: 18px;
  }
  .call-to-action {
    min-height: 250px;
    background-image: url(https://belajarkoding.com/images/overlay.svg), linear-gradient(45deg, #007bff, #006fe6);
    background-size: cover;
    color: #fff;
  }
  .call-to-action h2 {
    padding-top: 65px;
  }
  .favorite-video {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .favorite-video h4 {
    color: #252525;
  }
  .favorite-video p {
    color: grey;
  }
  .aboutme {
    padding-top: 90px;
  }
  .aboutme img {
    border-radius: 10px;
    margin-bottom: 80px;
  }
  .aboutme p {
    font-size: 18px;
    margin-top: 30px;
  }
  .content-article h2 {
    font-size: 35px;
    color: #313131;
    font-weight: 700;
  }
  .content-article img {
    margin-top: 30px;
  }
  .content-article p {
    font-size: 18px;
    color: grey;
    margin-top: 40px;
  }
}

@media (max-width: 996px) {
  .second-action {
    display: none;
  }
}

@media (max-width: 991px) {
  .wave {
    margin-top: 130px;
  }
}

@media (max-width: 990px) {
  .wave {
    margin-top: 130px;
  }
}

@media (max-width: 767px) {
  .wave {
    margin-top: 105px;
  }
}

@media (max-width: 503px) {
  .wave {
    margin-top: 85px;
  }
}

@media (max-width: 375px) {
  .wave {
    margin-top: 60px;
  }
}
/*# sourceMappingURL=main.css.map */